<div class="sidebar">
    <h1>Website Title</h1>
    <ul class="nav">
        <li class="nav-item">
            <a href="#">主页</a>
        </li>
        <li class="nav-item active">
            <a href="#">分类</a>
            <ul class="nav">
                <li class="nav-item">
                    <a href="#">归档</a>
                </li>
                <li class="nav-item">
                    <a href="#">时间线</a>
                </li>
                <li class="nav-item">
                    <a href="#">分类</a>
                </li>
                <li class="nav-item">
                    <a href="#">标签</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#">友链</a>
        </li>
        <li class="nav-item">
            <a href="#">关于</a>
        </li>
    </ul>
</div>